/* Reset CSS */
html {
  scroll-padding-top: 10rem;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f5f7;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1da1f2;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* Navigation */
nav {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: #1da1f2;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #0d8ed4;
}

/* Main Content */
main {
  max-width: 800px;
  margin: 7rem auto 2rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section {
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

p, pre, code {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

code {
  background-color: #f0f0f0;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

pre {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 3px;
  overflow-x: auto;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #1da1f2;
  color: #fff;
}

footer p {
  color: white !important;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  main {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p, pre, code {
    font-size: 1rem;
  }
}